html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

:root {
    --dark-color: #000000;
    --light-color: #ffffff;
    --accent-color: #ff287e;
}

* {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.current-page {
/*     text-orientation: sideways; */    
    display: flex;
    flex-direction: row;
}

.current-page h6 {
    margin: 16px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    -webkit-transform: rotate(180deg);
}

.bullet {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
}

.bullet-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected {
    background-color: var(--accent-color);
}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: inline-block;
}

.intro img {
    width: 250px;
    height: auto;
}

.stacked {
    display: flex;
    flex-direction: column;
}

.sentence {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sentence h2 {
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.accent {
    color: var(--accent-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav * {
    color: var(--dark-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav .logo {
    color: var(--accent-color);
}

.intro {
    display: flex;
}