html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
      margin: 0;
      padding: 0;
  }

:root {
    --dark-color: #000000;
    --light-color: #ffffff;
    --accent-color: #ff287e;
}

* {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}

h2 {
    font-size: 32px;
}

h4 {
    margin-top: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

header {
    margin: 0;
    border: 0;
    padding: 0;
}

.current-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
}

.current-page h6 {
    margin-top: 20px;
    padding: 0;
    border: 0;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    -webkit-transform: rotate(180deg);
}

.bullet {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
}

.bullet-nav {
    display: flex;
    flex-direction: column;
    height: 25%;
    align-content: center;
    justify-content: space-between;
}

.selected {
    background-color: var(--accent-color);
}

.period {
    height: 10px;
    width: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
    
}

.intro-bullet {
    background-color: var(--accent-color);
}

.about-bullet {}

.work-bullet {}

.cv-bullet {}

.intro img {
    width: auto;
    height: 60vh;
    margin: 40px;
    
    /* flip horizontally */
    transform: rotateY(180deg);
}

#about-me-page img {
    width: auto;
    height: 60vh;
    margin: 40px;
}

.about-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stacked {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 70%;
}

.sentence {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.accent-line {
    border: 0;
    height: 5px;
    background: var(--accent-color);
    margin-left: 0;
}

.sentence h2 {
    margin-bottom: 0;
    margin-right: 5px;
}

.sentence span {
    margin-bottom: 2px;
}

.bold {
    font-weight: bold;
}

.accent {
    color: var(--accent-color);
}

nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}

nav * {
    color: var(--dark-color);
}

nav ul {
    margin-right: 50px;
    padding: 0;
    list-style-type: none;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    /*margin-right: 20px;*/
}

nav .logo {
    color: var(--accent-color);
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#splash-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#about-me-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#work-page h2 {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.card p {
    margin-top: 0;
}